<div class="bg">
    <div class="card-border">
        <div class="center">
            <div class="card">
                Hello
                <br>
                Hello
                <br>
                Hello
                <br>
                Hello
                <br>
                Hello
                <br>
                Hello
                <br>
                Hello
                <br>
                Hello
                <br>   
                Hello
                <br>
                Hello
                <br>
        
            </div>
        </div>
    </div>
</div>